configuration {
    show-icons: true;
    font: "UbuntuMono Nerd Font 14";
}

@theme "~/.config/rofi/colorice-colors.rasi"

window {
    background-color: @background;
    border-radius: 12px;
    padding: 10px;
    border: 0px;
}

mainbox, inputbar, listview, element, prompt, entry {
    background-color: transparent;
}

element selected {
    background-color: @selected;
    text-color: @background;
    border-radius: 8px;
}
